/** Variables **/
:root {
  --primaire: #901c1c;
  --primaire-alternatif: #d3573c;
  --secondaire: #db8876;
  --secondaire-alternatif-1: #525252;
  --secondaire-alternatif-1-2: #fafafa;
  --secondaire-alternatif-2: #901c1c;
}

/** Base **/
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/** Contenu **/
* {
  font-family: "DM Sans", sans-serif;
}

/** Header **/
header {
  display: inline-flex;
  width: 100%;
}

.partie-header {
  text-align: center;
}
picture.partie-header {
  width: 25%;
}
nav.partie-header {
  justify-content: center;
  width: 50%;
}

.logo {
  width: 250px;
}

nav {
  display: flex;
}
.lien-filtre {
  border: 0.5px solid #c4c4c4;
  border-radius: 10px;
  color: var(--primaire);
  font-size: 14px;
  font-weight: 500;
  margin: auto 5px;
  padding: 3px 7px;
  text-decoration: none;
}
.lien-filtre:hover {
  background-color: var(--primaire);
  border-color: transparent;
  color: #ffffff;
}

/** Main **/
.titre-main {
  color: var(--primaire);
  display: flex;
  flex-direction: column;
  font-size: 36px;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;
}

#retour-contenu {
  background-color: var(--secondaire);
  border-radius: 5px;
  color: #000000;
  display: none;
  font-size: 18px;
  font-weight: 700;
  height: fit-content;
  left: 50%;
  margin: 8px auto;
  padding: 5px 10px;
  position: fixed;
  text-decoration: none;
  top: -5px;
  transform: translateX(-50%);
  width: fit-content;
}

#liste-photographes {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.photographe {
  flex: 1 0 33%;
  margin-bottom: 32px;
}
.lien-photographe {
  text-decoration: none;
}
.img-photographe {
  border-radius: 50%;
  box-shadow: 0px 2px 5px #acadb6;
  height: 200px;
  object-fit: cover;
  width: 200px;
}
.nom-photographe {
  color: var(--primaire-alternatif);
  font-size: 36px;
  font-weight: 400;
  margin: 0 auto;
}
.lieu-photographe {
  color: var(--primaire);
  font-size: 22px;
}
.description-photographe {
  font-size: 14px;
  margin-top: 0;
}
.tarif-photographe {
  color: #757575;
  font-size: 12px;
}

/** Page photographe **/
#profil-infos-photographe {
  background-color: var(--secondaire-alternatif-1-2);
  margin: 0 100px;
  padding: 50px;
  position: relative;
}
#profil-photo-photographe {
  height: 180px;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  width: 180px;
}
#profil-nom-contact-photographe {
  display: inline-flex;
}
.btn-contact {
  background-color: var(--primaire);
  border: transparent;
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  margin-left: 200px;
  padding: 15px 10px;
}
.btn-contact:hover {
  background-color: var(--secondaire);
  color: #000000;
  cursor: pointer;
  font-weight: 700;
}
#profil-description-photographe {
  margin-top: 10px;
}
#trier {
  margin: 25px 100px;
}
.trier-texte {
  font-weight: bold;
}
#trier > select {
  background-color: var(--primaire);
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  height: 60px;
  padding: 0 5px;
  width: 150px;
}
#trier > select > option {
  border-top: 1px solid #ffffff;
}
#profil-liste-photos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 30px;
  margin: 0 100px 50px 100px;
}
#aucun-contenu {
  display: none;
}
.photo {
  flex: 1 0 30%;
}
.img-photo {
  border-radius: 5px;
  display: block;
  height: 400px;
  margin: auto;
  object-fit: cover;
  width: 100%;
}
.titre-photo {
  color: var(--primaire);
  font-size: 24px;
}
.like {
  color: var(--primaire);
  float: right;
  font-size: 24px;
}
.like-coeur::after {
  content: "\2764";
}
.like-coeur:hover {
  color: var(--primaire-alternatif);
  cursor: pointer;
}
#profil-likes-tarif {
  background-color: var(--secondaire);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  bottom: 0;
  font-size: 18px;
  padding: 10px 15px;
  position: fixed;
  right: 35px;
  width: fit-content;
}
#profil-tarif-photographe {
  margin-left: 15px;
}
/** Formulaire de contact **/
#contact {
  background-color: var(--secondaire);
  display: none;
  left: 50%;
  padding: 10px 50px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}
#fermer-contact {
  color: #ffffff;
  font-size: 60px;
  right: 5px;
  top: 0;
}
.label-form {
  color: #312e2e;
  font-size: 18px;
}
.champ-form {
  border-color: transparent;
  display: block;
  height: 30px;
  margin-bottom: 10px;
  width: 100%;
}
textarea.champ-form {
  height: 150px;
  resize: none;
}
.btn-valider {
  background-color: var(--primaire);
  border-color: transparent;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 20px;
}
.btn-valider:hover {
  background-color: var(--primaire-alternatif);
  color: var(--secondaire-alternatif);
  cursor: pointer;
}

/** Lightbox **/
#lightbox {
  background-color: white;
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}
.contenu-lightbox {
  display: flex;
  flex-direction: column;
  height: calc(100% - 100px);
  justify-content: center;
  margin: 50px 10%;
  width: 80%;
}
.fermer {
  color: var(--primaire);
  cursor: pointer;
  font-size: 100px;
  position: absolute;
  right: 100px;
  top: 0;
}
.fermer:hover {
  color: var(--secondaire);
}
.fermer::after {
  content: "\00d7";
}
.fleche {
  color: var(--primaire);
  cursor: pointer;
  font-size: 100px;
  position: absolute;
}
.fleche:hover {
  color: var(--secondaire);
}
#fleche-gauche {
  left: 100px;
}
#fleche-droite {
  right: 100px;
}
.photo-titre-lightbox {
  margin: auto;
  width: fit-content;
}
.photo-img,
.photo-video {
  display: none;
}
.lien-lightbox {
  display: block;
}
#photo-lightbox,
#video-lightbox {
  display: block;
  margin: 0 auto;
  max-height: 800px;
  max-width: 800px;
  object-fit: cover;
}
#titre-photo-lightbox {
  display: block;
  width: 100%;
}

/** Responsive **/
@media screen and (max-width: 992px) {
  /** Header **/
  header {
    flex-direction: column;
  }
  .partie-header {
    flex: unset;
    flex-direction: unset;
    flex-wrap: wrap;
    justify-content: center;
    text-align: unset;
  }
  picture.partie-header {
    margin: 10px 0 0 10px;
  }
  nav.partie-header {
    margin-bottom: 25px;
    margin-top: 25px;
    width: 100%;
  }
  .logo {
    width: 115px;
  }
  .lien-filtre {
    margin: 2.5px;
  }
  /** Main **/
  .titre-main {
    font-size: 15px;
    margin: 15px 10px 0 0;
    width: fit-content;
  }
  .liste-photographes {
    margin-top: 32px;
  }
  .photographe {
    flex: 1 0 100%;
  }
  /** Page photographe **/
  #profil-infos-photographe {
    background-color: unset;
    margin: unset;
    padding: 0 25px 25px 25px;
    text-align: center;
  }
  .nom-photographe {
    font-size: 25px;
  }
  #profil-photo-photographe {
    display: block;
    height: 125px;
    left: unset;
    margin: auto;
    position: unset;
    right: unset;
    transform: unset;
    width: 125px;
  }
  .btn-contact {
    bottom: 25px;
    left: 50%;
    margin-left: unset;
    padding: 15px 25px;
    position: fixed;
    transform: translateX(-50%);
    width: fit-content;
    z-index: 1;
  }
  #trier {
    display: none;
  }
  #profil-liste-photos {
    flex-direction: column;
    gap: 0px 50px;
    margin: 0 25px;
  }
  .photo {
    flex: 1 0 100%;
    margin: 5px 0;
  }
  .img-photo {
    height: 200px;
  }
  .block-photo {
    margin-top: 10px;
  }
  .titre-photo,
  .like,
  .like-coeur {
    font-size: 20px;
  }
  #profil-likes-tarif {
    display: none;
  }
  #contact {
    height: 70%;
    min-height: fit-content;
    top: calc(30% - 20px);
    transform: translateX(-50%);
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 374px) {
  /** Main **/
  .liste-filtres-photographe {
    display: inline-grid;
  }
}
